/SECCION 3/Seccion 3/nbproject/private/
/SECCION 3/seccion3/nbproject/private/
/Seccion 3/nbproject/private/
/Seccion 3/build/
/Seccion 3/dist/
/taller_seccion3_ejercicio1/nbproject/private/
/taller_seccion3_ejercicio1/build/
/taller_seccion3_ejercicio2/nbproject/private/
/taller_seccion3_ejercicio2/build/
/factory_prestamos/nbproject/private/
/builder_boletos/nbproject/private/
/builder_boletos/build/
/factory_prestamos/build/
/Seccion7/nbproject/private/
/Seccion7_ObjectPool/nbproject/private/
/Seccion7_ObjectPool/build/
/SESION 8/Sector_Facturacion/nbproject/private/
/SESION 8/co.edu.ucc.erick.adapterfacturacion/nbproject/private/
/SESION 8/co.edu.ucc.erick.adapterfacturacion/build/
/SESION 8/co.edu.ucc.erick.adapterfacturacion/dist/
/SESION 8/co.edu.ucc.erick.adaptergps/nbproject/private/
/SESION 8/co.edu.ucc.erick.adaptergps/build/
/SESION 8/co.edu.ucc.erick.bridgefacturacion/nbproject/private/
/SESION 8/co.edu.ucc.erick.bridgefacturacion/build/
/SESION 8/co.edu.ucc.erick.bridgereportevehiculo/nbproject/private/
/SESION 8/co.edu.ucc.erick.bridgereportevehiculo/build/
/Sesion_9/co.edu.ucc.Erick.rastreo/nbproject/private/
/Sesion_9/co.edu.ucc.Erick.rastreo/build/
/Sesion_10/co.edu.ucc.Erick.compositearchivos/nbproject/private/
/Sesion_10/co.edu.ucc.Erick.compositearchivos/build/
/Sesion_10/co.edu.ucc.Erick.compositemenuweb/nbproject/private/
/Sesion_10/co.edu.ucc.Erick.compositemenuweb/build/
/Sesion_10/co.edu.ucc.Erick.decoratornotificaciones/nbproject/private/
/Sesion_10/co.edu.ucc.Erick.decoratornotificaciones/build/
/Sesion_10/co.edu.ucc.Erick.decoratorcafepersonalizado/nbproject/private/
/Sesion_10/co.edu.ucc.Erick.decoratorcafepersonalizado/build/
